.recent-component {
  text-align: center;
}

.recent-slider {
  cursor: grab;
  overflow: hidden;
  width: 80%;
  margin: 100px auto;
}
.inner-recent-slider {
  display: flex;
}

.recommendation-tile {
  text-align: center;
  background-color: grey;
  border-radius: 5%;
  margin: 0px 10px;
  min-width: 400px;
  min-height: 600px;
  margin: 5px 20px;
  padding: 30px;
  pointer-events: none;
}

.problems {
  background-color: red;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tag {
  border: 1px solid;
  border-radius: 3px;
  text-align: center;
  padding: 5px;
  background-color: #fff;
}
