body {
  margin: 10px;
}

.recent-component {
  text-align: center;
}

.recent-slider {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

.recommendation-tile {
  text-align: center;
  background-color: grey;
  margin: 0px 10px;
  width: 33%;
}

.problems {
  background-color: red;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tag {
  border: 1px solid;
  border-radius: 3px;
  text-align: center;
  padding: 5px;
  background-color: #fff;
}
