.recent-component {
  text-align: center;
}

.recent-slider {
  cursor: grab;
  overflow: hidden;
  width: 80%;
  margin: 100px auto;
}
.inner-recent-slider {
  display: flex;
}

.recommendation-tile {
  text-align: center;
  background-color: grey;
  border-radius: 5%;
  margin: 0px 10px;
  min-width: 400px;
  min-height: 300px;
  margin: 5px 20px;
  padding: 30px;
}

.problems {
  background-color: red;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tag {
  border: 1px solid;
  border-radius: 3px;
  text-align: center;
  padding: 5px;
  background-color: #fff;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.search-tile {
  border-radius: 5%;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 350px;
  height: auto;
}

.clickable {
  cursor: pointer;
}
